<% if current_user %>
  <nav class="bg-rose-800 p-3 fixed top-0 left-0 w-full z-10">
    <div class="flex items-center justify-between mx-3">
      <span class="text-white font-semibold text-2xl">
        <%= current_user.role.capitalize %>
      </span>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, 
          class: 'text-sm text-white font-bold bg-stone-800 uppercase px-3 py-2 rounded hover:bg-stone-900' %>
    </div>
  </nav>
<% end %>
