<div class="mt-20 ml-64 px-3 py-1">
  <div class="flex items-center justify-between">
    <p class="text-2xl font-bold">Attendance Records</p>
    <% if !current_user.manager? %>
      <% if @attendance_today %>
        <button class="custom-disabled-btn" disabled> Mark Attendance</button>
      <% else %>
        <%= link_to "Mark Attendance", new_employee_attendance_path(current_user), class: 'custom-btn' %>
      <% end %> 
    <% end %>
  </div>

  <hr class="my-4">

  <% headers = if current_user.manager?
    ['Name', 'Role', 'Day', 'Date', 'Status']
  else
    ['Day', 'Date', 'Status']
  end %>
  
  <% rows = @attendances.map do |attendance| 
    if current_user.manager?
      [
        { content: attendance.user.name },
        { content: attendance.user.role.humanize },
        { content: attendance.date.strftime('%A') },
        { content: attendance.date.strftime('%d/%m/%Y') },
        { content: attendance.status, class: attendance.status == 'present' ? 'text-green-600' : 'text-red-600' }
      ]
    else
      [
        { content: attendance.date.strftime('%A') },
        { content: attendance.date.strftime('%d/%m/%Y') },
        { content: attendance.status, class: attendance.status == 'present' ? 'text-green-600' : 'text-red-600' }
      ]
    end
  end %>

  <%= render 'shared/records_table', headers: headers, rows: rows %>
</div>
